[Unit]
Description=The Project Hestia application

[Service]
Type=notify
ExecStart=/usr/bin/dotnet /root/ProjectHestia/ProjectHestia.dll
WorkingDirectory=/root/ProjectHestia
SyslogIdentifier=ProjectHestia
User=root
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target